.footer__links-section {
    display: flex;
    flex-direction: row;
    gap: 0 123px;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    letter-spacing: 0.05em;
    margin: auto 0 auto auto;
}