.main__section-title {
    color: #2A3439;
    font-family: 'Inter';
    font-weight: 100;
    font-style: normal;
    font-size: 32px;
    line-height: 38.73px;
    letter-spacing: 0.05em;
    margin: 0 0 0 15px;
}