.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 95%;
    gap: 0 50px;
    margin: 35px auto 0;
    box-sizing: border-box;
    padding: 0 5px;
}