.section-item__expand-button {
    color: rgb(97, 183, 183);
    font-weight: 300;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0.06em;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}