.navigation__sublink {
    font-size: 17px;
    font-weight: 200;
    line-height: 22.2px;
    text-decoration-thickness: .5px;
    text-underline-offset: 3px;
    color: black;
}

.navigation__sublink:hover {
    background: radial-gradient(circle at 0%, transparent 10%, hsla(0, 60%, 93%, 0.7) 50%, transparent 90%);
}