.navigation__link-container {
    width: 190px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 7px;
    margin-top: 10px;
    position: relative;
}

.navigation__link-container:hover {
    background-color: #F5F5F5;
}

.navigation__link-container:hover .navigation__link {
    text-decoration: none;
}