.navigation__link {
    position: relative;
    z-index: 2;
    font-size: 24px;
    line-height: 29.05px;
    font-weight: 100;
    color: #2A3439;
    text-underline-offset: 4px;
    text-decoration-thickness: .5px;
    background-color: #FEFEFA;
}

.navigation__link:hover {
    background-color: rgba(245, 245, 245, .9);
}
