.settings {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 30px 25px;
  color: #504949;
  background-color: hsl(60, 67%, 99%);
  border: 1px solid hsl(0, 5%, 45%);
  border-radius: 30px;
}