.header__curve-bottom {
    width: 124px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 12px;
    transform: skewX(-27deg);
    border-radius: 20px 0 20px 0;
    transition-property: border-bottom border-right;
    transition-duration: .3s;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

.header__curve-bottom:hover {
    border-right: 1px solid #E81919;
    border-bottom: 1px solid #E81919;
    transition-property: border-bottom border-right;
    transition-duration: .3s;
}