.form__submit-button {
    width: 50%;
    font-size: 31px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0.2em;
    background-color: hsl(0, 0%, 85%);
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px 0;
    cursor: pointer;
}

.form__submit-button:hover {
    background-color: hsl(0, 0%, 95%);
    color: hsl(205, 31%, 34%);
}