.form__input-field {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(165, 157, 157, .5);
    font-size: 30px;
    font-weight: 100;
    line-height: 36px;
    letter-spacing: .2em;
    outline-style: none;
}

.form__input-field::placeholder {
    box-sizing: border-box;
    padding-left: 25px;
    font-style: italic;
    color: #A59D9D;
}