.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 25px;
  background-color: #FEFEFA;
  font-family: 'Inter';
  color: hsl(205, 31%, 24%);
}